body {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    position: relative;
}
* {
    box-sizing: border-box;
}
i {
    margin-right: 3px;
}
ul {
   list-style-type: none;
}

nav,
main {
    height: calc(100vh - 100px);

}
/* ////// Respclass ////// */
.desktop {
    display: inline-block;
}
.tablet {
    display: none;
}
/* ////// Cosmetics ////// */
.interactive:hover {
    cursor: pointer;
}
.orange {
    color: orange;
}
.dark_orange {
    color: rgb(242, 101, 81);
}
.grey {
    color: grey;
}
/* ////// Header ////// */
header {
    height: 100px;
    width: 100%;
    padding-top: 25px;
    background-color: rgb(248, 249, 250);
}
.text_column {
    height: 100%;
    padding: 0 1%;
}
.side {
    width: 15%;
    
}
.center {
    width: 70%;
    background-color: rgb(229, 229, 229);
    border-radius: 15px;
    overflow: hidden;
}
.top {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
}
/* ////// Nav ////// */
nav {
    background-color: rgb(0, 49, 83);
    height: calc(100vh);
    width: 180px;
    padding-top: 50px;
    padding-right: 50px;
    color: white;
    position: absolute;
    left: 0;
    top: 100px;
}
.admin {
    bottom: 30px;
}
/* ////// Main ////// */
main {
    width: calc(100% - 180px);
    position: absolute;
    left: 180px;
    top: 100px;
}
.main_top {
    background-color: rgb(27, 114, 232);
    height: 150px;
    color: white;
}
.top_btn {
    background-color: rgb(22, 91, 186);
    border-radius: 25px;
    padding: 2px 10px 3px;
}
.main_column {
    background-color:rgb(248, 249, 250);
    width: 100%;
    height: calc(100% - 150px);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
}
.tabella {
    background-color: white;
    display: inline-block;
}
.large {
    min-width: calc(( 100% / 3 ) * 2 - 50px);
}
.tall {
    min-height: calc(( 100% / 4 ) * 3 );
}
.short {
    max-height: calc( 100% / 4);
}
.narrow {
    min-width: calc(100% / 3);
}
.move_up {
    position: relative;
    bottom: calc(100% / 2);
}
.title  {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
    padding-left: 25px;
    height: 75px;
    width: 100%;
    background-color: rgb(229, 229, 229);
    border-bottom: 1px gray solid;
}
.content {
    padding: 10px;
}
.stato {
    padding: 2px 8px;
    font-weight: 600;
    color: white;
    border-radius: 10px;

}
.done {
    background-color: rgb(25, 135, 84);
}
.failed {
    background-color: rgb(242, 101, 81)
}
.process {
    background-color: orange;
}
.pulsante {
    border: 1px solid grey;
    text-align: center;
    width: 50px;
    padding: 6px;
    border-radius: 10px;
}
.border-btm {
    border-bottom: 1px gray solid;
}
.border-round {
    border-radius: 10px;
    border: 1px gray solid;
}
.tab_img img {
    max-width: 100%;
    max-height: 100%;
}
.tab_img {
    max-width: 300px;
}
.padding-left {
    padding-left: 30px;
}







/* ////// Responsiveness ////// */

 @media only screen and (max-width: 1350px) {
     .tablet {
        display: inline-block;
     }
     .desktop {
        display: none;
     }
     nav {
        width: 100px;
     }
     main {
        width: calc(100% - 100px);
        left: 100px
     }
     .large {
        width: 100%;
     }
     .narrow {
        width: 100%;
     }
     .move_up {
        bottom: 0;
     }
 }